$colorWhite: #fff;
$colorGrin: #275553;
$colorOreng: #F47648;

$fontGeorgia-Regular: 'Georgia-Regular', sans-serif;
$fontLato-Light: 'Lato-Light', sans-serif;
$fontRoboto-Black: 'Roboto-Black', sans-serif;
